﻿@model Contact;
@{
    ViewData["Title"] = "Edit";
}

<form method="post">
    <div class="form-group">
        <label asp-for="FirstName">Nom</label>
        <input asp-for="FirstName" type="text" class="form-control" placeholder="Veuillez saisir votre nom">
        <span asp-validation-for="FirstName" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Prénoms</label>
        <input asp-for="LastName" type="text" class="form-control" placeholder="Veuillez saisir votre nom">
        <span asp-validation-for="LastName" class="form-text text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone">Téléphone</label>
        <input asp-for="Phone" type="text" class="form-control" placeholder="Veuillez saisir votre numéro de téléphone">
        <small asp-validation-for="Phone" class="form-text text-danger"></small>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email address</label>
        <input asp-for="Email" type="email" class="form-control" placeholder="Veuillez saisir votre numéro de téléphone">
        <small asp-validation-for="Email" class="form-text text-danger"></small>
    </div>
    <button type="submit" class="btn btn-primary" value="Create">Modifier</button>
</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}