﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model IEnumerable<Contact>

}

<div>
    <div><a class="btn btn-primary mb-2" asp-controller="Contact" asp-action="Create">Nouveau Contact</a></div>
</div>



<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénoms</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Contact contact in Model)
        {

            <tr>
                <td>##</td>
                <td>@contact.FirstName</td>
                <td>@contact.LastName</td>
                <td>@contact.Phone</td>
                <td>@contact.Email</td>
                <td>
                    @{
                        var modal = "#" + "" + @contact.FirstName;
                    }

                    <a class="btn btn-warning" asp-controller="Contact" asp-action="Edit" asp-route-id="@contact.Id"><i class="bi bi-pencil-square"></i></a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target=@modal><i class="bi bi-trash-fill"></i></button>

                    <div class="modal fade" id=@contact.FirstName tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">Suppression contact... </h5></div>
                                <div class="modal-body">Voulez-vous supprimer le contact <b>@contact.FirstName @contact.LastName</b>  ?</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                    <a asp-controller="Contact" asp-action="Delete" asp-route-id="@contact.Id" class="btn btn-primary">Valider</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>

            </tr>
        }

    </tbody>
</table>


